<p-dataView
  layout="grid"
  [value]="models"
  [rows]="rowsPerPage"
  [paginator]="true"
  [totalRecords]="modelCount"
  [lazy]="true"
  [loading]="loading"
  (onLazyLoad)="onDataViewContentLoad($event)"
>
  <ng-template let-ship pTemplate="gridItem">
    <div class="p-col-12 p-md-4">
      <p-card [header]="ship.name" [subheader]="ship.model">
        <ng-template pTemplate="header">
          <div style="padding: 1em">
            <img alt="Card" src="assets/starwars-placeholder.png">
          </div>
        </ng-template>
      </p-card>
    </div>
  </ng-template>
</p-dataView>
