@import '../../layout_variables.scss';

// detach content from borders
.content-wrapper {
    padding: 1em;
    background: none;
}

// customize primeng menu bar style
:host ::ng-deep .top-bar {
    padding: 0;
    border: none;
    border-radius: 0;

    background-color: $themeDarkBlue;
    color: $themeLightGray;

    .app-title {
        padding: 0.5rem;
        margin: 0;
    }

    .p-selectbutton .p-button {
        border: none;
        border-radius: 0;
        background-color: $themeDarkBlue;

        .p-button-label {
            color: $themeLightGray;
        }

        &:not(.p-highlight):hover {
            background-color: $themeBlack;
        }

        &.p-highlight {
            background: $themeOrange;
            color: $themeOrange;
        }
    }
}