// customize primeng menu bar style
:host ::ng-deep .top-bar {
    padding: 0;
    border: none;
    border-radius: 0;

    .app-title {
        padding: 0.5rem;
        margin: 0;
    }

    .nav-button {
        border-radius: 0;
    }

}

// detach content from borders
.content-wrapper {
    padding: 1em;
}

// constraint card width and add hover effect
:host ::ng-deep .p-card {
    margin: 1em;
    width: 360px;
    transition: 0.5s;

    &:hover {
        background-color: lightgray;
        transition: 0.5s;
    }
}

// ensure dataview content is not displayed as blocks
:host ::ng-deep .p-dataview-grid>.p-dataview-content>div {
    display: flex;
    flex-wrap: wrap;
}