<!-- Top bar -->
<p-menubar styleClass="top-bar">
    <ng-template pTemplate="start">
    <h3 class="app-title">Star Wars Catalog</h3>
    </ng-template>
    <ng-template pTemplate="end">
        <ng-container *ngFor="let button of topBarButtons">
            <button pButton pRipple type="button"
                class="p-button-text nav-button"
                [label]="button.label"
                (click)="navigateToStarfleetRoute(button.route)"
            ></button>
        </ng-container>
    </ng-template>
</p-menubar>

<!-- Main content -->
<div class="p-grid">
    <div class="p-col-12 content-wrapper">
        <router-outlet></router-outlet>
    </div>
</div>
